/*@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');*/


/* Fonts */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-thin-webfont.woff2') format('woff2'), url('../fonts/lato-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-light-webfont.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-medium-webfont.woff2') format('woff2'), url('../fonts/lato-medium-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body,
input,
textarea {
  font-family: "Lato", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

img {
  border: none;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

.wrapper {
  max-width: 1320px;
}

.wrapper2 {
  max-width: 1170px;
}

.wrapper4 {
  max-width: 690px;
}

.wrapper3 {
  max-width: 960px;
  /*padding: 95px 0;*/
}

.hello+.wrapper3 {
  padding-top: 0;
}

.pad0 {
  padding: 0 !important;
}

.wrapper,
.wrapper2,
.wrapper3,
.wrapper4 {
  width: 90%;
  margin: 0 auto;
  clear: both;
}

[class*='wrapper'] [class*='wrapper'] {
  max-width: 100%;
}

.wrapper:after,
.wrapper2:after,
.wrapper3:after,
.wrapper4:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

h1,
.h1 {
  font-size: 3em;
  font-weight: 300;
}

h2,
.h2 {
  font-size: 40px;
  font-weight: 300;
}

@media (max-width:1000px) {
  h1,
  .h1 {
    font-size: 2.5em;
  }
}

h3,
.h3 {
  font-size: 2em;
  font-weight: 300;
  line-height: 121.21%;
  text-transform: uppercase;
  letter-spacing: .05em;
}

h3.bg-title,
.h3.bg-title {
  text-transform: inherit;
  letter-spacing: 0;
  font-size: 2.25em;
}

h4,
.h4 {
  font-size: 1.375em;
}

.big {
  font-size: 1.4em;
  font-weight: 300;
}



/*HEADER*/

#header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}

#logo {
  float: left;
  padding-left: 100px;
  height: 66px;
  line-height: 66px;
  background: url(../img/logo.png) no-repeat;
  background-size: 88px auto;
  white-space: nowrap;
  font-size: 1.375em;
  color: black;
  font-weight: 300;
}

#top-menu {
  float: right;
}

.current-language,
#top-menu>a {
  vertical-align: middle;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
}

.lang-selector,
.current-language,
#top-menu>a {
  height: 31px;
  line-height: 31px;
}

.lang-selector,
.current-language,
#top-menu a {
  font-size: 11px;
  text-transform: uppercase;
  color: #F9811B;
}

.lang-selector {
  position: relative;
  display: inline-block;
}

.lang-selector ul {
  position: absolute;
  right: 0;
  top: 100%;
  box-shadow: 0 2px 5px -3px #000;
  z-index: 1;
  background: white;
  list-style: none;
  padding: 10px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}

body.is-touchscreen-true .lang-selector.active ul,
body.is-touchscreen-false .lang-selector:hover ul {
  visibility: visible;
  opacity: 1;
}

.lang-selector ul a {
  width: 95px;
  display: block;
  text-align: center;
}

#top-menu>*+* {
  border-left: 1px solid #E5E5E5;
}

#header-main {
  clear: both;
}

.current-language {
  background: url(../img/darr.svg) no-repeat right center
}

#top-menu [class*='icon-'] {
  margin-right: 5px;
  top: 4px;
}

#main-menu {
  float: right;
  margin-top: 22px;
}

#main-menu li {
  list-style: none;
}

#main-menu>ul>li {
  float: left;
}

#main-menu>ul>li+li {
  margin-left: 30px;
}

#main-menu>ul>li>a {
  color: #626262;
  font-size: 1.1875em;
  position: relative;
  font-weight: 300
}

#main-menu>ul>li>a:after {
  display: block;
  width: 0;
  content: '';
  height: 1px;
  overflow: hidden;
  background: #F9811B;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#main-menu>ul>li.active>a:after,
#main-menu>ul>li>a.active:after,
#main-menu>ul>li>a:hover:after {
  width: 100%;
}

#mobile-menu {
  display: none;
  float: right;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

#mobile-menu span {
  display: block;
  height: 2px;
  width: 100%;
  background: rgba(98, 98, 98, 1);
  position: absolute;
  top: 0;
  left: 0;
}

#mobile-menu span:nth-child(2n) {
  top: 6px
}

#mobile-menu span:nth-child(3n) {
  top: 12px
}

@media (max-width: 870px) {
  #mobile-menu {
    display: block;
  }
  #mobile-menu span {
    transform-origin: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #main-menu.mobile-active #mobile-menu span:first-child {
    transform: scale(0);
    opacity: 0;
  }
  #main-menu.mobile-active #mobile-menu span:nth-child(2n) {
    transform: rotate(45deg);
    top: 0;
  }
  #main-menu.mobile-active #mobile-menu span:nth-child(3n) {
    transform: rotate(-45deg);
    top: 0;
  }
  #main-menu>ul {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
    background: #fff;
    padding: 40px 30px 30px;
    overflow: hidden;
    box-shadow: 0 2px 25px -2px rgba(0, 0, 0, 0.3);
  }
  #main-menu.mobile-active>ul {
    visibility: visible;
    opacity: 1;
    width: 240px;
  }
  #main-menu>ul li {
    float: none;
    margin: 0 !important;
  }
  #main-menu>ul li a {
    display: inline-block;
    padding: 3px 10px;
    white-space: nowrap;
  }
}

@media (max-width:460px) {
  #logo {
    font-size: 0;
  }
  .current-language,
  #top-menu>a {
    padding-left: 5px;
    padding-right: 5px;
  }
  .current-language {
    padding-right: 15px;
  }
  #main-menu.mobile-active>ul {
    width: 100%;
  }
}



/* HERO */

#hero {
  height: 480px;
  position: relative;
  overflow: hidden;
}

#hero.hero-home {
  height: 100%;
  min-height: 600px;
}

.hero-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-home .hero-layer-text.first {
  transform: translateY(-200px);
}

.hero-home .hero-layer-text.second {
  transform: translateY(200px);
}

.hero-home .hero-layer-text.active {
  transform: translateY(0);
}

.hero-layer-text {
  display: table;
  vertical-align: middle;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all .75s ease;
}

.hero-layer-text.active {
  visibility: visible;
  opacity: 1;
}

.hero-layer-text-v {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

#hero:after {
  height: 300px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../img/overlay.png);
  content: '';
  display: block;
  background-size: auto 100%;
}

.hero-layer-text-v {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  transform: translateY(-50px);
}

.hero-layer.active .hero-layer-text-v {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

#hero-arrow {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 190px;
  height: 50px;
  bottom: 0;
  left: 50%;
  margin-left: -95px;
  background: url(../img/heroarrow.svg) no-repeat center;
  background-size: auto 100%;
  z-index: 2;
}

.hello {
  padding: 95px 0 113px;
  border-bottom: 1px solid rgba(249, 129, 27, 1);
  position: relative;
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 150%;
}

.hello strong,
.hello b {
  font-weight: 700;
}

.hello:after {
  position: absolute;
  display: block;
  width: 44px;
  height: 23px;
  content: '';
  bottom: -22px;
  left: 50%;
  margin-left: -22px;
  background: url(../img/hrarr.svg) no-repeat;
}

/* Disabled arrow and border */
.hello:after{ display: none; }
.hello{ border: none; }


.hello-inner {
  padding-bottom: 0;
  border-bottom: none
}

.wrapper3>.hello-inner:first-child {
  padding-top: 0;
}

.hello-wrapper {
  width: 690px;
  margin: auto;
  max-width: 95%;
}

.hello-inner:after {
  display: none;
}

.strategies {
  padding-bottom: 80px;
}

.strategies h3 {
  padding: 75px 0;
}



/*

    Slider

*/

.t-slider {
  padding: 50px 0;
}

.ts-item-holder {
  float: left;
  text-align: center;
  outline: none
}

.ts-item {
  display: inline-block;
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 300px;
}

.slick-arrow {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 130px;
  cursor: pointer;
  font-size: 0;
  color: transparent;
  border: none;
  z-index: 1;
  outline: none
}

.slick-next {
  right: 0;
  background: url(../img/nav_right.png) no-repeat right center;
  background-size: 100% 100%;
}

.slick-prev {
  left: 0;
  background: url(../img/nav_left.png) no-repeat left center;
  background-size: 100% 100%;
}

.slick-arrow span {
  display: block;
  position: absolute;
  top: 50%;
  width: 11px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 18px;
  margin: -9px 0 0 0;
}

.slick-prev span {
  background-image: url(../img/blarr.svg);
  left: 22px;
}

.slick-next span {
  background-image: url(../img/brarr.svg);
  right: 22px;
}

.team {
  text-align: center;
}

.team>h3 {
  padding-bottom: 20px;
}

.team>p {
  margin: 0 auto;
}

.stories {
  clear: both;
}

.bg-grey {
  background: #EDEDED;
}

.stories .btn-more {
  padding: 60px 0;
}

.stories h3 {
  color: #222222
}

#get-involved {
  padding: 120px 0;
  margin: 120px 0;
  background: rgba(249, 129, 27, 1);
  text-align: center;
  color: white;
}

#get-involved.get-involved-alt .inv-image {
  border: 2px solid rgba(249, 129, 27, 1)
}

#get-involved.get-involved-alt .involved-grid {
  padding-top: 0
}

#get-involved.get-involved-alt {
  background: transparent;
  color: initial;
  padding: 0 0;
  margin: 0 0;
}

.involved-grid {
  padding-top: 90px;
  background: url(../img/ing.bg.png) no-repeat 0 145px;
  background-size: 100% auto;
}

.inv-item {
  float: left;
  width: 33.333%;
}

.inv-item-content {
  width: 295px;
  max-width: 100%;
}

.involved-grid .inv-item:nth-child(2) .inv-item-content {
  margin-left: auto;
  margin-right: auto;
}

.involved-grid .inv-item:last-child .inv-item-content {
  float: right;
}

.inv-image {
  display: inline-block;
  width: 240px;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-color: white;
  border-radius: 300px;
  margin-bottom: 30px;
}

@media (max-width:1000px) {
  .inv-item-content {
    width: 240px;
  }
  .inv-image {
    width: 180px;
    height: 180px;
  }
}

@media (max-width:800px) {
  .inv-item-content {
    width: 200px;
  }
  .inv-image {
    width: 140px;
    height: 140px;
  }
}

@media (max-width:600px) {
  .involved-grid {
    background: none
  }
  .involved-grid .inv-item {
    width: 100%;
    float: none;
  }
  .involved-grid .inv-item+.inv-item {
    padding-top: 80px;
  }
  .involved-grid .inv-item .inv-item-content {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
  .inv-item-content {
    max-width: 360px;
    width: auto;
  }
  .inv-image {
    width: 180px;
    height: 180px;
  }
}

.inv-image-1 {
  background-image: url(../img/lion-1.svg);
}

.inv-image-2 {
  background-image: url(../img/lion-2.svg);
}

.inv-image-3 {
  background-image: url(../img/lion-3.svg);
}

.inv-item-content p {
  padding-top: 10px;
  padding-bottom: 30px;
}

.qed {
  padding-top: 45px;
}

.qed .text1 {
  padding: 0 0 50px;
}

.section-info {
  margin: auto;
  padding: 90px 0 60px;
  text-align: center;
  clear: both;
}

.square-images {
  max-width: 1440px;
  height: auto;
  margin: auto;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.square-images>div {
  width: 33.333%;
  min-height: 480px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: inline-block;
  background-image: url(../img/img_placeholder.png);
  background-color: #e4e4e4;
  position: relative;
  /*z-index: -1;*/
}

.square-images>div:nth-child(2n) {
  background-color: #cccccc;
}

.square-images > div:after {
  position: absolute;
  display: inline-block;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgba(91, 91, 91, 0.5);
  pointer-events: none;
}

.square-images.one > div {
  width: 100%;
  max-width: 960px;
}

.square-images.one > div:after {
  content: 'MIN WIDTH: 960px | MIN HEIGHT: 480px'
}

.square-images.two > div {
  width: 50%;
  max-width: 660px
}

.square-images.two > div:after {
  content: 'MIN WIDTH: 660px | MIN HEIGHT: 480px'
}

.square-images.three > div {
  width: 33.333%;
}

.square-images.three > div:after {
  content: 'MIN WIDTH: 480px | MIN HEIGHT: 480px'
}

.challenges-box {
  padding: 90px 0;
  margin: 0;
  background: #FFC03A;
  text-align: center;
  color: white;
}

.challenges-box+#footer {
  margin-top: 0;
}

.iiv-date,
.iiv-image,
.iiv-content {
  display: block;
  float: left;
}

.iiv-date {
  width: 90px;
  background: rgba(249, 129, 27, 1);
  font-size: 1.125em;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 300;
  line-height: 125%;
}

.iiv-date strong {
  font-weight: 200;
  display: block;
  font-size: 2.5em;
  line-height: 100%;
}

.iiv-image {
  height: 100%;
  width: 330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 90px;
  top: 0;
  display: block;
}

.iiv-content {
  min-height: 220px;
  width: 360px;
  background: white;
  position: relative;
  color: black;
  padding: 45px;
  text-align: left;
  font-size: 1.06em;
  float: right;
  display: block;
}
.no-img .iiv-content {
  width: 690px;
}

.iiv-content strong {
  display: block;
  font-size: 1.375em;
}

.iiv-content-text {
  display: block;
  padding: 5px 0 20px;
}

.upcomming .iiv-content:after {
  position: absolute;
  display: block;
  content: '';
  width: 74px;
  height: 74px;
  background: url(../img/upcoming_ribbon.svg) no-repeat right top;
  top: 0;
  right: 0;
}

.isotope-item-v {
  position: relative;
  width: 100%;
}

.isotope-item-v+.isotope-item-v {
  margin-top: 30px;
}

@media (max-width:840px) {
  .isotope2 .isotope-content {
    width: 480px;
    margin: auto;
    max-width: 90%;
  }
  .isotope-item-v {
    width: 100%;
  }
  .iiv-image {
    width: 100%;
    position: static;
    height: 220px;
  }
  .iiv-date,
  .iiv-image,
  .iiv-content {
    float: none;
    width: 100%;
  }
  .no-img .iiv-content {
    float: none;
    width: 100%;
    padding-top: 90px;
  }
  .iiv-date strong {
    font-size: 0.9em;
    line-height: normal;
  }
  .iiv-date {
    z-index: 100;
    font-size: 0.8em;
    position: absolute;
    width: auto;
    padding: 5px 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width:480px) {
  .isotope2 .isotope-content {
    width: 360px;
  }
}

.post-inner-date {
  top: 1.25em;
  position: relative;
  z-index: 99;
  color: #ADAFB1;
  text-transform: uppercase;
  white-space: nowrap;
  background: rgba(0, 0, 0, .75);
  font-size: 0.75em;
  padding: 1em 1.5em;
  font-style: normal;
  font-weight: 300;
}

@media (max-width: 1000px) {
  .post-inner-date {
    top: 1.125em;
  }
}

.post-inner-date span {
  color: rgba(255, 255, 255, .5)
}

.hero-no-image .post-inner-date {
  background: #404040;
}

.post-inner-date a {
  color: rgba(249, 129, 27, 1);
}

.post .square-images {
  padding: 100px 0;
}

.stories h3+[data-nomenu="true"] {
  padding-top: 70px;
}



/* Footer */

#footer {
  clear: both;
  padding: 95px 0;
  /*margin-top: 80px;*/
  background: #EDEDED;
  text-align: center;
}

#footer nav {
  font-size: 0.875em;
  color: #4A4A4A;
  padding-bottom: 60px;
}

#footer nav a {
  color: #4A4A4A;
  margin: 0 20px;
  text-transform: uppercase;
}

#footer nav a:hover {
  opacity: 0.8
}

#footer-logo {
  display: inline-block;
  width: 122px;
  height: 91px;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
}

#copy {
  color: #9B9B9B;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 300;
  display: block;
  padding-top: 10px;
}

.retina {
  transform: scale(.5);
  transform-origin: top left;
}


.milestones-home-container:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.milestones-home-container{
  padding-bottom: 55px;
  position: relative;
  border-bottom: 4px solid white;
}

.milestones-home-container > .wrapper{
  max-width: 1050px;
}


.milestones-home:before,
.milestones-home:after{
  display: block;
  height: 100%;
  width: 180px;
  content: '';
  position: absolute;
  top: 0;
  z-index: 2;
}

.milestones-home:before{
  left: 0;
  background: -moz-linear-gradient(left,  rgba(223,229,236,0.75) 0%, rgba(223,229,236,0) 100%);
  background: -webkit-linear-gradient(left,  rgba(223,229,236,0.75) 0%,rgba(223,229,236,0) 100%);
  background: linear-gradient(to right,  rgba(223,229,236,0.75) 0%,rgba(223,229,236,0) 100%);
}
.milestones-home:after {
  right: 0;
  background: -moz-linear-gradient(left,  rgba(223,229,236,0) 0%, rgba(223,229,236,0.75) 100%);
  background: -webkit-linear-gradient(left,  rgba(223,229,236,0) 0%,rgba(223,229,236,0.75) 100%);
  background: linear-gradient(to right,  rgba(223,229,236,0) 0%,rgba(223,229,236,0.75) 100%);
}


.milestones-home{
  background-color: #DFE5EC;
  position: relative;
}

.milestones-home h3{
  text-align: center;
  padding: 75px 0;
}

.wrapper-milestonesbtn{
  text-align: center;
  padding: 94px 0 85px;
}

.ml-col{
  float: left;
  width: 33.333%;
}

.ml-item {
  display: inline-block;
  text-align: center;
  width: 330px;
  max-width: 95%;
  position: relative;
  background: white;
  z-index: 3;
}

.ml-col + .ml-col{text-align: center;}
.ml-col + .ml-col + .ml-col{text-align: right;}

.ml-img{
  display: block;
  height: 210px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ml-item-content{
  display: block;
  position: relative;
  padding: 20px 20px 40px;
}

.ml-date:after{
  display: block;
  width: 16px;
  height: 16px;
  background: white;
  border: 3px solid rgba(249, 129, 27, 1);
  border-radius: 30px;
  top: 50px;
  left: 50%;
  margin-left: -8px;
  content: '';
  position: absolute;
}
.ml-date:before{
  display: block;
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  transform: rotate(45deg);
  background: white;
  top: -17px;
  left: 50%;
}

.ml-date{
  width: 120px;
  height: 50px;
  display: block;
  position: absolute;
  top: 100%;
  padding-top: 77px;
  right: 0;
}

.ml-col + .ml-col .ml-date{
  left: 50%;
  margin-left: -60px;
}

.ml-col + .ml-col + .ml-col .ml-date{
  left: 0;
  margin-left: 0;
}

.ml-title{
  font-size: 21px;
  display: block;
  padding-bottom: 15px;
  text-decoration: underline
}

@media (max-width:840px){
  .milestones-home-container{
    border: none
  }

  .ml-col + .ml-col{
    padding-top: 30px;
  }

  .ml-col{
    width: 100%;
    text-align: center !important;
  }

  .ml-date{
    position: static;
    padding-top: 30px;
    display: block;
    text-align: center;
    margin: 0 !important;
    width: 100%;
  }

  .ml-date:before,
  .ml-date:after{
    display: none !important;
  }

}

/* React form specific */
.form-react {
  text-align: left;
  width: 33% !important;
  margin-left: 33% !important;
  margin-bottom:.6em;
}
@media (max-width:1024px){
  .form-react {
    width:50% !important;
    margin-left: 25% !important;
  }
}
@media (max-width:640px){
  .form-react {
    width:100% !important;
    margin:0 !important;
  }
}
.typeform {
  display: block;       /* iframes are inline by default */
  background: #000;
  border: none;         /* Reset default border */
  height: 100vh;        /* Viewport-relative units */
  width: 100vw;
}
.modal.modal-wrapper{
  background-color: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 100vh;
  z-index:9999;
  position:fixed;
  top:0;
  left:0;
}
.modal.modal-container{
  margin-top:40vh;
  text-align:center;
}
.btn,button{
  outline:none;
}